In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
df = pd.read_csv('c4_epa_air_quality.csv')
df.dropna(inplace=True)
df.head(10)

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3
5,5,2018-01-01,Hawaii,Honolulu,Not in a city,Kapolei,Carbon monoxide,Parts per million,0.994737,14
6,6,2018-01-01,Hawaii,Honolulu,Not in a city,Kapolei,Carbon monoxide,Parts per million,0.200000,2
8,8,2018-01-01,Hawaii,Honolulu,Honolulu,Honolulu,Carbon monoxide,Parts per million,0.400000,5
9,9,2018-01-01,Colorado,Larimer,Fort Collins,Fort Collins - CSU - S. Mason,Carbon monoxide,Parts per million,0.300000,6
10,10,2018-01-01,Minnesota,Dakota,Rosemount,Flint Hills Refinery 420,Carbon monoxide,Parts per million,0.247368,3

In [25]:
df.describe()

       Unnamed: 0  arithmetic_mean         aqi
count  257.000000       257.000000  257.000000
mean   129.766537         0.404578    6.782101
std     74.675286         0.319311    7.091422
min      0.000000         0.000000    0.000000
25%     66.000000         0.200000    2.000000
50%    130.000000         0.278947    5.000000
75%    194.000000         0.516667    9.000000
max    259.000000         1.921053   50.000000

In [33]:
df['state_name'].describe()

count            257
unique            51
top       California
freq              66
Name: state_name, dtype: object

In [27]:
df[('aqi')].value_counts().sort_index().cumsum()

aqi
0       2
1      15
2      72
3     125
5     153
6     167
7     184
8     191
9     199
10    210
11    218
13    224
14    227
15    233
16    236
17    238
18    241
19    243
20    246
22    247
23    248
24    249
26    250
27    252
28    253
36    254
40    255
41    256
50    257
Name: count, dtype: int64

In [38]:
mean = df[('aqi')].mean()
print(mean)

6.782101167315175

In [40]:
median = df[('aqi')].median()
print(median)

5.0

In [43]:
max_value = df['aqi'].max()
print(max_value)

50

In [45]:
standard_deviation = df['aqi'].std()
print(standard_deviation)

7.09142243350022